.cast-picker-top {
  height: 15vh;
}

.reset-button {
  margin-top: 30px;
  font-family: 'Limelight', cursive;
  font-size: 300%;
  width: 100%;
  background-image: url("../../public/images/curtain-background.png");
  text-shadow: 0 0 0.3em white;
  color: #FFDD4E;
  border-radius: 0.2em;
}

.btn-large:hover {
  color: white;
}

.cast-row {
  text-align: center;
  height: 100%;
}

.cast-member {
  float: none;
  display: inline-block;
  height: 100%;
  width: 18%;
  margin-left: 1%;
  margin-right: 1%;
}

.cast-member img {
  width: 100%;
}

.img-thumbnail.correct {
  background-color: green;
  border-width: 0px;
  box-shadow: 0 0 1em #72FF3B;
}

.img-thumbnail.incorrect {
  background-color: red;
  border-width: 0px;
  box-shadow: 0 0 1em #FF0A00;
}

.cast-buttons {
  margin-top: 10%;
  width: 100%;
}

.cast-buttons > button {
  font-size: 125%;
}

.loading-message {
  text-align: center;
}

.loading-message h1 {
  font-size: 200px;
  text-shadow: 0 0 0.2em black;
  color: #FFDD4E;
  font-family: 'Limelight', cursive;
}
