.moviePicker {
  padding-top: 50px;
  margin: auto;
  height: 300px;
  width: 700px;
}

.movieChoice {
  height: 300px;
}


.castRow {
  padding-top: 20px;
  margin: auto;
  width: 700px;
}

.castMember{
  float: left;
  margin-right: 10px;
  display: block;
  width: 130px;
}

.castButtons {
  width: 100%;
}


.castMember img {
  max-width: 100%;
}

.correctAnswer img {
  background-color: green;
}

.wrongAnswer img{
  background-color: red;
}
