body {
  height: 100%;
  background-image: url("../public/images/film_reels.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.modal {
  display:block;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
}


.modalMessage {
  padding-left: 20px;
}
