body {
  height: 100%;
  background-image: url("../public/images/film_reels.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.modal {
  display:block;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
}


.modalMessage {
  padding-left: 20px;
}

.moviePicker {
  position: fixed;
  top: 20%;
  left: 25%;
  bottom: 20%;
  right: 30%;
  height: 400px;
  width: 100%;
  text-shadow: 1px 1px white;
}

.movieChoice {
  float: left;
  display: block;
  height: 400px;
  width: 270px;
}

.posterPlaceholder {
  text-align: center;
  vertical-align: middle;
  background-image: url("../public/images/placeholderFilmReel.png");
  background-size: contain;
}

.castRow {
  position: fixed;
  top: 20%;
  left: 25%;
  bottom: 20%;
  right: 30%;
  padding-top: 20px;
  margin: auto;
  width: 700px;
}

.castMember{
  float: left;
  margin-right: 10px;
  display: block;
  width: 130px;
}

.castButtons {
  width: 100%;
}

.castMember img {
  max-width: 100%;
}

.correctAnswer {
  border: 8px solid;
  border-color: green;
}

.wrongAnswer {
  border: 8px solid;
  border-color: red;
}
