body {
  height: 100%;
  background-image: url("../public/images/film_reels.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* font-family: 'Limelight'; */
}

.modal {
  display:block;
}

/*TODO: MAKE MORE RESPONSIVE?*/
.searchModal {
  height: 300px;
  width: 600px;
  background-image: url("../public/images/popcorn_spill_85_percent.png");
  background-size: cover;
  position: fixed;
  top: 20%;
  left: 30%;
  bottom: 20%;
  right: 30%;
  z-index: 1000;
  border-radius: 25px;
  text-shadow: 1px 1px white;
  box-shadow: 0 8px 6px -6px #bdbdbd;
}

.searchModal h1 {
  font-size: 80px;
}

.searchBar {
  width: 80%;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
}


.modalMessage {
  padding-left: 20px;
}

.moviePicker {
  position: fixed;
  top: 20%;
  left: 25%;
  bottom: 20%;
  right: 30%;
  height: 400px;
  width: 100%;
  text-shadow: 1px 1px white;
}

.movieChoice {
  float: left;
  display: block;
  height: 400px;
  width: 270px;
}

.posterPlaceholder {
  text-align: center;
  vertical-align: middle;
  background-image: url("../public/images/placeholderFilmReel.png");
  background-size: contain;
}

.castRow {
  position: fixed;
  top: 20%;
  left: 25%;
  bottom: 20%;
  right: 30%;
  padding-top: 20px;
  margin: auto;
  width: 700px;
}

.castMember{
  float: left;
  margin-right: 10px;
  display: block;
  width: 130px;
}

.castButtons {
  width: 100%;
}

.castMember img {
  max-width: 100%;
}

.correctAnswer {
  border: 8px solid;
  border-color: green;
}

.wrongAnswer {
  border: 8px solid;
  border-color: red;
}
